In [5]:
import pandas as pd
import numpy as np
import os

In [3]:
df = pd.read_csv('./raw_data_month/201601_raw.csv', encoding='ms949')

In [6]:
print((df['건물명코드'][0]))

115301070004810000

In [7]:
print(df['건물명코드'][0][:5] + '_' + df['건물명코드'][0][5:10] + '_' + df['건물명코드'][0][10:14] + '_' + df['건물명코드'][0][14:])

11530_10700_0481_0000

In [8]:
building_code = []
for i in range(len(df)):
    building_code.append(df['건물명코드'][i][:5] + '_' + df['건물명코드'][i][5:10] + '_' + df['건물명코드'][i][10:14] + '_' + df['건물명코드'][i][14:])
df['building_code'] = building_code

In [9]:
df

,계약일,자치구명,법정동명,지번구분명,건물명,층,권리구분,취소일,건축년도,신고구분,면적당금액(만원),건물명코드,year,month,day,building_code
0,20160131,구로구,개봉동,대지,현대,22.0,NaN,NaN,2001.0,NaN,632.298966,115301070004810000,2016,1,31,11530_10700_0481_0000
1,20160131,서초구,잠원동,대지,신반포10,6.0,NaN,NaN,1981.0,NaN,1282.620766,116501060000580016,2016,1,31,11650_10600_0058_0016
2,20160131,성동구,옥수동,대지,옥수 어울림,12.0,NaN,NaN,2011.0,NaN,971.057295,112001130005600000,2016,1,31,11200_11300_0560_0000
3,20160131,동대문구,청량리동,대지,미주,8.0,NaN,NaN,1978.0,NaN,393.360082,112301070002350001,2016,1,31,11230_10700_0235_0001
4,20160131,강남구,도곡동,대지,삼성,8.0,NaN,NaN,1994.0,NaN,1249.771939,116801180001610000,2016,1,31,11680_11800_0161_0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5436,20160101,양천구,목동,대지,목동성원(926-8),15.0,NaN,NaN,1997.0,NaN,707.964602,114701020009260008,2016,1,1,11470_10200_0926_0008
5437,20160101,서대문구,홍은동,대지,유원,13.0,NaN,NaN,1987.0,NaN,338.061466,114101180000220000,2016,1,1,11410_11800_0022_0000
5438,20160101,동작구,사당동,대지,삼익그린뷰,9.0,NaN,NaN,2003.0,NaN,446.672744,115901070011500000,2016,1,1,11590_10700_1150_0000
5439,20160101,은평구,진관동,대지,은평뉴타운 폭포동(힐스테이트D-10),3.0,NaN,NaN,2010.0,NaN,548.676503,113801140001320000,2016,1,1,11380_11400_0132_0000
5440,20160101,은평구,진관동,대지,은평뉴타운 폭포동(힐스테이트D-9),9.0,NaN,NaN,2010.0,NaN,662.940080,113801140001400000,2016,1,1,11380_11400_0140_0000

In [4]:
months = os.listdir('./raw_data_month')
years = os.listdir('./raw_data_year')
print(months)

['201601_raw.csv', '201602_raw.csv', '201603_raw.csv', '201604_raw.csv', '201605_raw.csv', '201606_raw.csv', '201607_raw.csv', '201608_raw.csv', '201609_raw.csv', '201610_raw.csv', '201611_raw.csv', '201612_raw.csv', '201701_raw.csv', '201702_raw.csv', '201703_raw.csv', '201704_raw.csv', '201705_raw.csv', '201706_raw.csv', '201707_raw.csv', '201708_raw.csv', '201709_raw.csv', '201710_raw.csv', '201711_raw.csv', '201712_raw.csv', '201801_raw.csv', '201802_raw.csv', '201803_raw.csv', '201804_raw.csv', '201805_raw.csv', '201806_raw.csv', '201807_raw.csv', '201808_raw.csv', '201809_raw.csv', '201810_raw.csv', '201811_raw.csv', '201812_raw.csv', '201901_raw.csv', '201902_raw.csv', '201903_raw.csv', '201904_raw.csv', '201905_raw.csv', '201906_raw.csv', '201907_raw.csv', '201908_raw.csv', '201909_raw.csv', '201910_raw.csv', '201911_raw.csv', '201912_raw.csv', '202001_raw.csv', '202002_raw.csv', '202003_raw.csv', '202004_raw.csv', '202005_raw.csv', '202006_raw.csv', '202007_raw.csv', '202008_raw.csv', '202009_raw.csv', '202010_raw.csv', '202011_raw.csv', '202012_raw.csv', '202101_raw.csv', '202102_raw.csv', '202103_raw.csv', '202104_raw.csv', '202105_raw.csv', '202106_raw.csv', '202107_raw.csv', '202108_raw.csv', '202109_raw.csv', '202110_raw.csv', '202111_raw.csv', '202112_raw.csv', '202201_raw.csv', '202202_raw.csv', '202203_raw.csv', '202204_raw.csv', '202205_raw.csv', '202206_raw.csv', '202207_raw.csv', '202208_raw.csv', '202209_raw.csv', '202210_raw.csv', '202211_raw.csv', '202212_raw.csv', 'dm2016-2022_RAW.csv', 'OECD_국가의_주요지표_20230329151022.csv', 'pt', '주택건설 착공실적.csv', '주택건설_착공실적_월계__20230320165447.csv', '한국산업은행_금리 현황_20220701.csv']

In [7]:
print('_raw' in months[0])
for month in range(len(months)):
    if '_raw' in months[month]:
        print(months[month])
        df = pd.read_csv('./raw_data_month/' + months[month], encoding='ms949')
        df['건물명코드'] = df['건물명코드'].astype('str')
        building_code = []
        for i in range(len(df)):
            building_code.append(df['건물명코드'][i][:5] + '_' + df['건물명코드'][i][5:10] + '_' + df['건물명코드'][i][10:14] + '_' + df['건물명코드'][i][14:])
        df['building_code'] = building_code
        df.to_csv('./raw_data_month/' + months[month], encoding='ms949')

True
201601_raw.csv
201602_raw.csv
201603_raw.csv
201604_raw.csv
201605_raw.csv
201606_raw.csv
201607_raw.csv
201608_raw.csv
201609_raw.csv
201610_raw.csv
201611_raw.csv
201612_raw.csv
201701_raw.csv
201702_raw.csv
201703_raw.csv
201704_raw.csv
201705_raw.csv
201706_raw.csv
201707_raw.csv
201708_raw.csv
201709_raw.csv
201710_raw.csv
201711_raw.csv
201712_raw.csv
201801_raw.csv
201802_raw.csv
201803_raw.csv
201804_raw.csv
201805_raw.csv
201806_raw.csv
201807_raw.csv
201808_raw.csv
201809_raw.csv
201810_raw.csv
201811_raw.csv
201812_raw.csv
201901_raw.csv
201902_raw.csv
201903_raw.csv
201904_raw.csv
201905_raw.csv
201906_raw.csv
201907_raw.csv
201908_raw.csv
201909_raw.csv
201910_raw.csv
201911_raw.csv
201912_raw.csv
202001_raw.csv
202002_raw.csv
202003_raw.csv
202004_raw.csv
202005_raw.csv
202006_raw.csv
202007_raw.csv
202008_raw.csv
202009_raw.csv
202010_raw.csv
202011_raw.csv
202012_raw.csv
202101_raw.csv
202102_raw.csv
202103_raw.csv
202104_raw.csv
202105_raw.csv
202106_raw.csv
202107_raw.csv
202108_raw.csv
202109_raw.csv
202110_raw.csv
202111_raw.csv
202112_raw.csv
202201_raw.csv
202202_raw.csv
202203_raw.csv
202204_raw.csv
202205_raw.csv
202206_raw.csv
202207_raw.csv
202208_raw.csv
202209_raw.csv
202210_raw.csv
202211_raw.csv
202212_raw.csv

In [6]:
for year in range(len(years)):
    if '_raw' in years[year]:
        print(years[year])
        df = pd.read_csv('./raw_data_year/' + years[year], encoding='ms949')
        df['건물명코드'] = df['건물명코드'].astype('str')
        building_code = []
        for i in range(len(df)):
            building_code.append(df['건물명코드'][i][:5] + '_' + df['건물명코드'][i][5:10] + '_' + df['건물명코드'][i][10:14] + '_' + df['건물명코드'][i][14:])
        df['building_code'] = building_code
        df.to_csv('./raw_data_year/' + years[year], encoding='ms949')

2016_raw.csv
2017_raw.csv
2018_raw.csv
2019_raw.csv
2020_raw.csv

C:\Users\User\AppData\Local\Temp\ipykernel_20868\626522322.py:4: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./raw_data_year/' + years[year], encoding='ms949')

2021_raw.csv
2022_raw.csv

In [13]:
df = pd.read_csv('dm2016-2022.csv')
df_ = pd.read_csv('dmean_total.csv')

In [14]:
print(len(df))
print(len(df_))

8903
8903

In [8]:
a = (len(set(df['building_code'])))
b = (len(set(df_['building_code'])))
print(b-a)

328

In [17]:
df = df.join(df_.set_index('building_code'), on='building_code')

In [18]:
df.to_csv('dm2016-2022.csv')